canvas {
    background: #000;
}

.main-wrapper {
    width: 512px;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0 auto;
}

header, footer {
    text-align: center;
}

.subtitle {
    font-size: 1.5em;
}

.main-header {
    margin-top: 0;
    margin-bottom: 2em;
}

.main-footer {
    margin-top: 2em;
}

li, p {
    line-height: 1.25em;
}

fieldset {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
}
